resources/new_schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:simpleType name="Service">
  <xs:restriction base="xs:string">
    <xs:enumeration value="act1"/>
    <xs:enumeration value="act2"/>
    <xs:enumeration value="act3"/>
    <xs:enumeration value="act4"/>
    <xs:enumeration value="rb1"/>
    <xs:enumeration value="rb2"/>   
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Capability">
  <xs:restriction base="xs:string">
   <xs:enumeration value="movement"/>
    <xs:enumeration value="hatchet"/>
    <xs:enumeration value="camera"/>
    <xs:enumeration value="gprs"/>
     <xs:enumeration value="extinguisher"/>
    <xs:enumeration value="battery"/>
    <xs:enumeration value="digger"/>
  	<xs:enumeration value="powerpack"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Boolean_type">
  <xs:restriction base="xs:boolean">
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Integer_type">
  <xs:restriction base="xs:integer">
    <xs:minInclusive value="0"/>
  	<xs:maxInclusive value="30"/>
  </xs:restriction>
</xs:simpleType>


 
 
 
 <xs:simpleType name="Actor">
  <xs:restriction base="Service">
   <xs:enumeration value="act1"/>
   <xs:enumeration value="act2"/>
   <xs:enumeration value="act3"/>
   <xs:enumeration value="act4"/>
  </xs:restriction>
 </xs:simpleType> 
 
<xs:simpleType name="Robot">
  <xs:restriction base="Service">
   <xs:enumeration value="rb1"/>
   <xs:enumeration value="rb2"/>
  </xs:restriction>
 </xs:simpleType>
 
 <xs:element id="theory" name="theory">
  <xs:complexType>
    <xs:choice maxOccurs="unbounded">
      <xs:element minOccurs="0" ref="provides"/>
      <xs:element minOccurs="0" ref="requires"/>
   
   
   
   
   
   
   <xs:element minOccurs="0" ref="moveStep"/>
   <xs:element minOccurs="0" ref="debrisStep"/>
   <xs:element minOccurs="0" ref="neigh"/>
   <xs:element minOccurs="0" ref="covered"/>
   <xs:element minOccurs="0" ref="batteryRecharging"/>
   
   
   
   
   
   
   
   
   
   
   <xs:element minOccurs="0" ref="at"/>
   <xs:element minOccurs="0" ref="evacuated"/>
   <xs:element minOccurs="0" ref="status"/>
   <xs:element minOccurs="0" ref="photoTaken"/>
   <xs:element minOccurs="0" ref="batteryLevel"/>
   <xs:element minOccurs="0" ref="generalBattery"/>
   
   
   
   
   
   <xs:element minOccurs="0" ref="hum_level"/>
   <xs:element minOccurs="0" ref="noize_level"/>
   <xs:element minOccurs="0" ref="temp_level"/>
   <xs:element minOccurs="0" ref="hcho_level"/>
   <xs:element minOccurs="0" ref="mq2_level"/>
   
   <xs:element minOccurs="0" ref="mq3_level"/>
   <xs:element minOccurs="0" ref="mq5_level"/>
   </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="repository">
  <xs:complexType>
    <xs:choice maxOccurs="unbounded">
      <xs:element minOccurs="0" ref="provides"/>
      <xs:element minOccurs="0" ref="requires"/>
      <xs:element minOccurs="0" ref="task_definition"/>      
	  <xs:element minOccurs="0" ref="exogenous_event_definition"/>   
      <xs:element minOccurs="0" ref="formula_definition"/>      
   </xs:choice>
  </xs:complexType>
</xs:element>

<xs:simpleType name="task_repository">
  <xs:restriction base="xs:string">
    
  
  <xs:enumeration value="move"/>
  
  
  
  
  
  
  
  
  
  
  <xs:enumeration value="extinguishfire"/>
  
  
  <xs:enumeration value="evacuate"/>
  
  <xs:enumeration value="chargebattery"/>
  <xs:enumeration value="removeDebris"/>
  <xs:enumeration value="go"/>
  
  
  
  
  
  
  
  
  
  <xs:enumeration value="takePhoto"/>
  
  <xs:enumeration value="updstatus"/>
  
  
  
  
  <xs:enumeration value="checktemp"/>
  <xs:enumeration value="checknoize"/>
  <xs:enumeration value="checkairquality"/>
  <xs:enumeration value="checkairstatus"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="exogenous_event_repository">
  <xs:restriction base="xs:string">
    
  	
  	<xs:enumeration value="photoLost"/>
  <xs:enumeration value="fire"/>
  <xs:enumeration value="rockSlide"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="formulae_repository">
  <xs:restriction base="xs:string">
    <xs:enumeration value="isConnected"/>
  
  </xs:restriction>
</xs:simpleType>

<xs:element name="task_definition">
  <xs:complexType>
     <xs:choice maxOccurs="unbounded">
      <xs:element minOccurs="0" name="argument" type="xs:string"/>
	  <xs:element minOccurs="0" name="precondition" type="xs:string"/>   
	  <xs:element minOccurs="0" name="supposed-effect" type="xs:string"/>
	  <xs:element minOccurs="0" name="automatic-effect" type="xs:string"/>
     </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
</xs:element>    

<xs:element name="exogenous_event_definition">
  <xs:complexType>
     <xs:choice maxOccurs="unbounded">
      <xs:element minOccurs="0" name="argument" type="xs:string"/>
	  <xs:element minOccurs="0" name="effect" type="xs:string"/>
     </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
</xs:element>   

<xs:element name="formula_definition">
  <xs:complexType>
     <xs:choice maxOccurs="unbounded">
      <xs:element minOccurs="0" name="argument" type="xs:string"/>
	  <xs:element minOccurs="0" name="content" type="xs:string"/>
     </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
</xs:element>   

<xs:element id="predefined_term-provides" name="provides">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="service" type="Service"/>
      <xs:element name="capability" type="Capability"/>
    </xs:sequence>
    <xs:attribute name="value" type="Boolean_type"/> 
  </xs:complexType>
</xs:element>

<xs:element id="predefined_term-requires" name="requires">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="task" type="task_repository"/>
      <xs:element name="capability" type="Capability"/>
    </xs:sequence>
    <xs:attribute name="value" type="Boolean_type"/> 
  </xs:complexType>
</xs:element>







<xs:element id="static_term-moveStep" name="moveStep">
  <xs:complexType>
   <xs:sequence/>
   <xs:attribute name="value" type="Integer_type"/>
  </xs:complexType>
 </xs:element>
<xs:element id="static_term-debrisStep" name="debrisStep">
  <xs:complexType>
   <xs:sequence/>
   <xs:attribute name="value" type="Integer_type"/>
  </xs:complexType>
 </xs:element>
<xs:element id="static_term-neigh" name="neigh">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="loc1" type="location_type"/>
    <xs:element name="loc2" type="location_type"/>
   </xs:sequence>
   <xs:attribute name="value" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>
<xs:element id="static_term-covered" name="covered">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="loc" type="location_type"/>
   </xs:sequence>
   <xs:attribute name="value" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>
<xs:element id="static_term-batteryRecharging" name="batteryRecharging">
  <xs:complexType>
   <xs:sequence/>
   <xs:attribute name="value" type="Integer_type"/>
  </xs:complexType>
 </xs:element>











 
<xs:element id="dynamic_term-at" name="at">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="service" type="Service"/>
   </xs:sequence>
   <xs:attribute name="value" type="location_type"/>
   <xs:attribute default="true" name="relevant" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>
<xs:element id="dynamic_term-evacuated" name="evacuated">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="loc" type="location_type"/>
   </xs:sequence>
   <xs:attribute name="value" type="Boolean_type"/>
   <xs:attribute default="true" name="relevant" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>
<xs:element id="dynamic_term-status" name="status">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="loc" type="location_type"/>
   </xs:sequence>
   <xs:attribute name="value" type="Status_type"/>
   <xs:attribute default="true" name="relevant" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>
<xs:element id="dynamic_term-photoTaken" name="photoTaken">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="loc" type="location_type"/>
   </xs:sequence>
   <xs:attribute name="value" type="Boolean_type"/>
   <xs:attribute default="true" name="relevant" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>
<xs:element id="dynamic_term-batteryLevel" name="batteryLevel">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="rbt" type="Robot"/>
   </xs:sequence>
   <xs:attribute name="value" type="Integer_type"/>
   <xs:attribute default="false" name="relevant" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>
<xs:element id="dynamic_term-generalBattery" name="generalBattery">
  <xs:complexType>
   <xs:sequence/>
   <xs:attribute name="value" type="Integer_type"/>
   <xs:attribute default="false" name="relevant" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>














<xs:element id="dynamic_term-hum_level" name="hum_level">
  <xs:complexType>
   <xs:sequence/>
   <xs:attribute name="value" type="hum_type"/>
   <xs:attribute default="false" name="relevant" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>
<xs:element id="dynamic_term-noize_level" name="noize_level">
  <xs:complexType>
   <xs:sequence/>
   <xs:attribute name="value" type="noize_type"/>
   <xs:attribute default="false" name="relevant" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>



<xs:simpleType name="status_type">
  <xs:restriction base="xs:string">
   <xs:enumeration value="ok"/>
   <xs:enumeration value="fire"/>
   <xs:enumeration value="debris"/>
  </xs:restriction>
 </xs:simpleType>
<xs:simpleType name="location_type" url="http://www.dis.uniroma1.it/~smartpm/webtool/gpsrules/GPSrules1422301615.xml">
  <xs:restriction base="xs:string">
   <xs:enumeration value="loc00"/>
   <xs:enumeration value="loc01"/>
   <xs:enumeration value="loc02"/>
   <xs:enumeration value="loc03"/>
   <xs:enumeration value="loc10"/>
   <xs:enumeration value="loc13"/>
   <xs:enumeration value="loc20"/>
   <xs:enumeration value="loc23"/>
   <xs:enumeration value="loc30"/>
   <xs:enumeration value="loc31"/>
   <xs:enumeration value="loc32"/>
   <xs:enumeration value="loc33"/>
  </xs:restriction>
 </xs:simpleType>

<xs:simpleType name="noize_type" url="http://www.dis.uniroma1.it/~smartpm/webtool/noiserules/Noizerules1422302557.xml">
  <xs:restriction base="xs:string">
   <xs:enumeration value="whisper"/>
   <xs:enumeration value="normal"/>
   <xs:enumeration value="stereo"/>
   <xs:enumeration value="ambulance"/>
   <xs:enumeration value="firecracker"/>
  </xs:restriction>
 </xs:simpleType>
<xs:simpleType name="hum_type" url="http://www.dis.uniroma1.it/~smartpm/webtool/arduinorules/humrules1422302688.xml">
  <xs:restriction base="xs:string">
   <xs:enumeration value="dry"/>
   <xs:enumeration value="normal"/>
   <xs:enumeration value="wet"/>
  </xs:restriction>
 </xs:simpleType>
<xs:simpleType name="temp_type" url="http://www.dis.uniroma1.it/~smartpm/webtool/arduinorules/temprules1422302844.xml">
  <xs:restriction base="xs:string">
   <xs:enumeration value="cold"/>
   <xs:enumeration value="chilly"/>
   <xs:enumeration value="normal"/>
   <xs:enumeration value="warm"/>
  </xs:restriction>
 </xs:simpleType>
<xs:simpleType name="hcho_type" url="http://www.dis.uniroma1.it/~smartpm/webtool/arduinorules/hchorules1422302939.xml">
  <xs:restriction base="xs:string">
   <xs:enumeration value="normal"/>
   <xs:enumeration value="voc"/>
   <xs:enumeration value="danger"/>
  </xs:restriction>
 </xs:simpleType>
<xs:simpleType name="mq2_type" url="http://www.dis.uniroma1.it/~smartpm/webtool/arduinorules/mq2rules1422303109.xml">
  <xs:restriction base="xs:string">
   <xs:enumeration value="normal"/>
   <xs:enumeration value="smoke"/>
   <xs:enumeration value="danger"/>
  </xs:restriction>
 </xs:simpleType>
<xs:simpleType name="mq5_type" url="http://www.dis.uniroma1.it/~smartpm/webtool/arduinorules/mq5rules1422303175.xml">
  <xs:restriction base="xs:string">
   <xs:enumeration value="normal"/>
   <xs:enumeration value="smoke"/>
   <xs:enumeration value="danger"/>
  </xs:restriction>
 </xs:simpleType>
<xs:simpleType name="mq3_type" url="http://www.dis.uniroma1.it/~smartpm/webtool/arduinorules/mq3rules1422303241.xml">
  <xs:restriction base="xs:string">
   <xs:enumeration value="normal"/>
   <xs:enumeration value="high"/>
   <xs:enumeration value="extra"/>
  </xs:restriction>
 </xs:simpleType>
<xs:element id="dynamic_term-temp_level" name="temp_level">
  <xs:complexType>
   <xs:sequence/>
   <xs:attribute name="value" type="temp_type"/>
   <xs:attribute default="false" name="relevant" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>
<xs:element id="dynamic_term-hcho_level" name="hcho_level">
  <xs:complexType>
   <xs:sequence/>
   <xs:attribute name="value" type="hcho_type"/>
   <xs:attribute default="false" name="relevant" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>
<xs:element id="dynamic_term-mq2_level" name="mq2_level">
  <xs:complexType>
   <xs:sequence/>
   <xs:attribute name="value" type="mq2_type"/>
   <xs:attribute default="false" name="relevant" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>

<xs:element id="dynamic_term-mq3_level" name="mq3_level">
  <xs:complexType>
   <xs:sequence/>
   <xs:attribute name="value" type="mq3_type"/>
   <xs:attribute default="false" name="relevant" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>
<xs:element id="dynamic_term-mq5_level" name="mq5_level">
  <xs:complexType>
   <xs:sequence/>
   <xs:attribute name="value" type="mq5_type"/>
   <xs:attribute default="false" name="relevant" type="Boolean_type"/>
  </xs:complexType>
 </xs:element>
</xs:schema>
